.container {
    width: 400px;
    height: 250px;
    margin: 50px;
    padding: 20px;
    background-color: orange;
    box-sizing: border-box;
    position: relative;
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: royalblue;
}

.container .item:nth-child(1) {
    position: absolute;
    left: 40px;
    bottom: 100px;
}

.container .item:nth-child(2) {
    position: absolute;
    top: 20px;
    right: 100px;
}